<!-- index.html -->


<!-- <form name="myForm">
    <input type="text" name="Name" value="Initial Value">
    <button type="button" onclick="alert(document.myForm.Name.value)">Show Value</button>
</form> -->
<h1>DADT mid-term home page</h1>

<ul>
    <li><a href="/result1">Go to Query1 - printing res object</a></li>
    <li><a href="/result2">Go to Query2 - list of tables in the database</a></li>
    <li><a href="/result3">Go to Query3 - list of tables with number of rows for each</a></li>
    <li><a href="/query4">Go to Query4 - airpots</a></li>
</ul>
