<!-- views/query4.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Query 4</title>
    <style>
        .slider-value {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Query 4</h1>
    <form action="/result4" method="GET">
        <label for="maxDist">Maximum distance to alternate:</label>
        <input type="range" id="maxDist" name="maxDist" min="0" max="1000" value="150" oninput="updateSliderValue(this.value)">
        <span class="slider-value" id="sliderValue">150</span> NM
        <br><br>
        <label for="iataCode">Destination airport 4 letter IATA code:</label>
        <input type="text" id="iataCode" name="iataCode" value="EPWA">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <p>Other example codes: EGLL, LIRF, EBBR, KLAX and any other commercial airport found on the internet.</p>
    <br>
    <a href="/">Go to home page</a>

    <script>
        function updateSliderValue(value) {
            document.getElementById('sliderValue').textContent = value;
        }
    </script>
</body>
</html>
