<!-- views/result5.html -->

<h1>Destination Airport: {{destination.apt_name}} ({{destination.ident}})</h1>
<h2>Minimum Runway Length: {{minRwyLength}} meters</h2>

<a href="javascript:history.back()">Go Back</a>

<br>
<!-- AIRPORT DATA -->
<table border="1">
    <thead>
        <tr>
            <th>Ident</th>
            <th>Distance to Alternate (NM)</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Elevation (ft)</th>
            <th>Type</th>
            <th>Sched.s</th>
        </tr>
    </thead>
    <tbody>
        {{#airports}}
            <tr>
                <td><b>{{ident}}</b></td>
                <td><b>{{distNMToAltn}}</b></td>
                <td>{{iso_country}}</td>
                <td>{{latitude_deg}}</td>
                <td>{{longitude_deg}}</td>
                <td>{{elevation_ft}}</td>
                <td>{{apt_type}}</td>
                <td>{{s_serv_string}}</td>
            </tr>
        {{/airports}}
    </tbody>
</table>

<br><br>


<!-- RUNWAY DATA -->

{{#airports}}
    <p><b>{{ident}}</b>&nbsp;&nbsp; {{distNMToAltn}}NM</p>
    {{#runways}}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b> {{le_ident}}/{{he_ident}} &nbsp;&nbsp; {{length_m}} x {{width_m}}M   </b>  &nbsp;&nbsp;&nbsp;&nbsp;Surface: {{surface}}</p>
    {{/runways}}
    <br>
{{/airports}}

<br><br>
<a href="/">Go to home page</a>
